<html lang="en">
    <head>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>Full Slider - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/full-slider.css" rel="stylesheet">

  </head> 
    <body>
  

         <header>
             <div class="wrap">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('/assets/pp.PNG')">
            <div class="carousel-caption">
              <!--<div class="maper">첫번째 기능</div>-->
              <%= link_to '오늘의 인기', '#', class: "maper" %>
              
        
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/pp3.PNG')">
            <div class="carousel-caption d-none d-md-block">
               <%= link_to '오늘의 인기', '#', class: "maper" %>
            
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('/assets/pp2.jpg')">
            <div class="carousel-caption d-none d-md-block">
             <%= link_to '오늘의 인기', '#', class: "maper" %>             
              
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </header>
    
    <style>
* {
margin: 0; padding: 0;
}

div ul li {
float: left;
list-style:none;
margin-right:10px;

}
</style>

<div id = "webzineHeadmenu">
	<div id = "webzineHeadmenuMain" style="border: 1px solid; padding: 15px;
        margin: 5px;">
	    <ul class = "menu">
			
			<li class="game" ><a href="#">인기글</a></li>
			<li class="schedule"><a href="https://news.naver.com/">오늘의 뉴스</a></li>
			<li class="gamer"><a href="#">코믹</a></a></li>
			<li class="inven"><a href="#">우리들의 경험담</a></li>
			<li class="mobile"><a href="/pp">자유게시판</a></li>
			<li class="esports"><a href="#">화장실 정보제공</a></a></li>
			<li><a href = "#">사진</a></li>
					<li><a href = "https://comic.naver.com/webtoon/weekday.nhn">웹툰</a></li>
					<li><a href = "https://www.youtube.com/watch?v=HSAivGk6F30">영상</a></li>
			<li class="search">
				<form id = "webzineHeadmenuF1" name = "webzineHeadmenuF1" method = "GET" onsubmit = "return false;">
					<input type = "text" class = "text" name = "sw" placeholder=" 내가 찾는 즐똥 키워드" />
					<input type = "submit" class = "submit bttn39OR1" value = "검색" />
				</form>
			</li>
		</ul>
		<div id = "webzineHeadmenuSub">
			<div class = "listBox">
			</div>
					</div>
	</div>
</div>

<script type = "text/javascript">
	var webzineHeadmenuObject = new WEBZINE.Layout.headmenu();
	//webzineHeadmenuObject.setACriteria('showdelay', 0);
	//webzineHeadmenuObject.setACriteria('hidedelay', 500);
	//webzineHeadmenuObject.setACriteria('subindent', 10);
	//webzineHeadmenuObject.setACriteria('type', 'layer');
	webzineHeadmenuObject.setACriteria('type', 'fixlayout');
	webzineHeadmenuObject.setFixMenu('news');
	webzineHeadmenuObject.init('webzineHeadmenuMain', 'webzineHeadmenuSub');
</script>
<script type="text/javascript">
	/* 변경전
	var webzineHeadmenuForm1 = INVEN.Html.FormControl.create();
	webzineHeadmenuForm1.setForm('webzineHeadmenuF1');
	webzineHeadmenuForm1.addField('sw','검색어');
	webzineHeadmenuForm1.getForm().onsubmit = function() { WEBZINE.Search.searchAll(webzineHeadmenuForm1); return false; }
 */
	/*통합검색 변경후*/
    $("#webzineHeadmenuF1 input[name='sw']").keydown(function(key){
    	if(key.keyCode == 13){	//엔터실행   
			isearch_community();
    		return false;
    	}
    });

    $('#webzineHeadmenuF1 .submit').click(function(e){
		isearch_community();
        return false;
    });

	// 검색 
	function isearch_community(){
		url = 'http://www.inven.co.kr/search';
		skin = 'webzine';
		page = 1;
		type = 'top';
		isearchword = $('#webzineHeadmenuF1 input[name=sw]').val();
 
		isearchword = isearchword.replace(/\\/g, "");
		isearchword = isearchword.replace(/\"/g, "");
		isearchword = isearchword.replace(/\'/g, "");
		isearchword = isearchword.replace(/\`/g, "");
		//isearchword = isearchword.replace(/ /gi, ''); 
 
		if(!isearchword){
			url = url + '/' + skin + '/' + type + '/'; 
		}else{
			isearchword = encodeURIComponent(isearchword);
			url = url + '/' + skin + '/' + type + '/' + isearchword + '/' + page;
		}
	  
		document.location.href=url;
		return false;
	}
</script>


<link href="https://fonts.googleapis.com/css?family=Poiret+One|Poor+Story" rel="stylesheet" >
    

   
    </body>
</html>