<head>
     <script type="text/javascript" src="/assets/jquery.raty_1.js"></script>
</head>
<style>
    .all_wrap{
        text-align: center;
    }
    .eval{
        color: gray;
        text-align: center;
        
    }
    .div_eval{
        text-align: center;
        margin-top: 3%;
    }
    .map_title_table{
        font-weight: bold;
        font-size: 12pt;
    }
    .btn{
        color:gray;
    }
</style>
<h3>Maps#index</h3>
<br>
<div class="all_wrap">
<table class="table" style="width:100%">
    <thead class="thead-dark">   
    <tr>
        <th scope="col">이름</th>
        <th scope="col">평균 평점</th>
        <th scope="col" width="10%">SHOW</th>
        <th scope="col" width="10%">DELETE</th>
    </tr></thead>
    
    
<% @maps.each do |map| %>
<%# if map.toilet_id == @t.id %>
        <tbody>
        <tr>
        <td class="map_title_table"><%= map.title %></td>
        <td><div class="star-rate_avg" data-score= <%=map.score_avg%>></div><br></td>
        <td><div class="sea_btn"><%= link_to '보기' , mad_path(map), class:"btn btn-outline-success" %></div></td>
        <td><%= link_to '삭제' , mad_path(map), method: :delete ,data: {confirm: "삭제하시겠습니까"} , class:"btn btn-outline-warning" %></td>
        </tr>
        </tbody>
        <%# end %>
<% end %>
    
</table></div>
<!--<div class="div_eval"><%= link_to '평가 하시겠습니까?', new_mad_path , class:"eval btn btn-primary" %></div>-->

<script>

   $('.star-rate_avg').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
           return $(this).attr('data-score');
    }
   });
</script>
