<h1>Maps#new</h1>
<br>
<head>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <script type="text/javascript" src="/assets/jquery.raty.js"></script>
</head>
<style>
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
  
   .form{
       display: flex;
       flex-direction: column;
       text-align: center;
   }
   .ti_la, .sc_la, .me_la, .submit{
       margin-top: 2%;
   }
   .submit{
       color:black;
   }
   .gd{
       border-style: bold;
       border-color:#00e3fc;
       border-width: 5px;
       text-align: center;
       color:black;
       font-size: 20pt;
       font-family: 'Do Hyeon', sans-serif;
   }
   .dg{
       font-family: 'Do Hyeon', sans-serif;
       color: #013d7b;
       font-size: 20pt;
   }
</style>
<div class="form" >
<%= form_for @map do |m|  %>
    <%= m.label :"화장실명" , class:"dg ti_la" %>
    <%= m.text_field :title, class:"gd ti_te form-control", value:@toilet.name %><br>
    
    <div class="dg" id="rating-form1">
        <label>청결:</label>
    </div>
    <%#= m.label :score , class:"sc_la"  %>
    <%#= m.text_field :score , class:"sc_te"  %>
  
    <div id="star-rating1"></div><br>
    <div class="dg" id="rating-form2">
        <label>안전:</label>
    </div>
    <%#= m.label :score , class:"sc_la"  %>
    <%#= m.text_field :score , class:"sc_te"  %>
  
    <div id="star-rating2"></div><br>
    <div class="dg" id="rating-form3">
        <label >시설:</label>
    </div>
    <%#= m.label :score , class:"sc_la"  %>
    <%#= m.text_field :score , class:"sc_te"  %>
  
    <div id="star-rating3"></div><br>
    <%= m.label :"화장실 평", class:"dg me_la"  %>
    <%= m.text_area :ment , class:"gd me_te form-control"  %><br>
        <%= m.hidden_field :toilet_id, value:@toilet.id %>
<%= m.submit value: "제출", class:"submit btn btn-primary" %>
   
    
<% end %> 


    
</div>
<script>
    $('#rating-form1').raty({
        path: '/assets/',
        scoreName: 'mad[score1]'
    });
    $('#rating-form2').raty({
        path: '/assets/',
        scoreName: 'mad[score2]'
    });
    $('#rating-form3').raty({
        path: '/assets/',
        scoreName: 'mad[score3]'
    });
    
    
//     function getLocation() {
//   if (navigator.geolocation) { // GPS를 지원하면
//     navigator.geolocation.getCurrentPosition(function(position) {
//       alert(position.coords.latitude + ' ' + position.coords.longitude);
//     }, function(error) {
//       console.error(error);
//     }, {
//       enableHighAccuracy: false,
//       maximumAge: 0,
//       timeout: Infinity
//     });
//   } else {
//     alert('GPS를 지원하지 않습니다');
//   }
// }
// getLocation();
</script>

